---
---

@import "{{ site.theme }}";

body
{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  /* margin: 0;
  padding: 0; */
  background-color: #1c212e;
}

.thank-header {
  padding: 20px;
  font-size: 24px;
}

.heart-container {
  position: relative;
  width: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-size: contain;
}

.heart-container .icon
{
  width: 30px;
}
.heart-container .icon path
{
  fill: transparent;
  stroke-width: 30;
  stroke: #ffed77;
}
.heart-container .icon.heart path
{
  fill: #ffed77;
  stroke-width: 30;
  stroke: #ffed77;
}
.heart-container .icon path
{
  stroke-dasharray: 1560;
  stroke-dashoffset: 0;
}
.heart-container .icon.heart path
{
  animation: animate-heart 4s linear infinite
}

@keyframes animate-heart
{
  0%
  {
    stroke-dashoffset: 0;
    fill: #ffed77;
  }
  50%
  {
    stroke-dashoffset: 1560;
  }
  70%
  {
    stroke-dashoffset: 3120;
    fill: transparent;
  }
  100%
  {
    stroke-dashoffset: 3120;
    fill: #ffed77;
  }
}

$colors: #F2385A, #F5A503, #E9F1DF, #56D9CD, #3AA1BF;
$max: length($colors);
$dash: 70;
$dash-gap: 10;
$dash-space: $dash * ($max - 1) + $dash-gap * $max;
$time: 6s;
$time-step: $time/$max;

/* Main styles */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:800);

.text {
  fill: none;
  stroke-width: 3;
  stroke-linejoin: round;
  stroke-dasharray: $dash $dash-space;
  stroke-dashoffset: 0;
  -webkit-animation: stroke $time infinite linear;
  animation: stroke $time infinite linear;
  
  @for $item from 1 through $max {
    &:nth-child(#{$max}n + #{$item}) {
      $color: nth($colors, $item);
      stroke: $color;
      -webkit-animation-delay: -($time-step * $item);
      animation-delay: -($time-step * $item);
    }
  }
}

@-webkit-keyframes stroke {
  100% {
    stroke-dashoffset: -($dash + $dash-gap) * $max;
  }
}

@keyframes stroke {
  100% {
    stroke-dashoffset: -($dash + $dash-gap) * $max;
  }
}
